<style>
    table {
        width:100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
       background-color: #fff;
    }
    table#t01 th {
        background-color: black;
        color: white;
    }
    </style>  

<table id="t01">
    <h2 style="color:red;text-align:center;">Technodom Task</h2>
    <tr>
      <th><a routerLink="/postdata">Post Data</a></th>
      <th><a routerLink="/twitterdata">Twitter Data</a></th> 
      
    </tr>
</table>
 
 <router-outlet>
</router-outlet>